body {
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #000;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.title {
	text-align: center;
	font-size: 25px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background: url("../img/santehnik.png") no-repeat center;
	background-size: cover;
	height: 680px;
	margin-bottom: 150px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}

.nav ul {
	display: flex;
	list-style: none;
}

.nav__link {
	text-decoration: none;
	margin-left: 25px;
	font-size: 18px;
	color: #fff;
	transition: 0.2s;
	text-transform: uppercase;
}

.nav__link:frist-child {
	margin-left: 0;
}

.nav__link:hover {
	color: #dc7633;
}

.intro {
	text-align: center;
	margin-top: 150px;
}

.intro__title {
	color: #fff;
	font-size: 45px;
	line-height: 50px;
}

.intro__subtitle {
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 40px;
	color: #fff;
}

.btn {
	border: 1px solid #c0392b;
	background-color: #c0392b;
	padding: 12px 30px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	transition: 0.2s;
}

.btn:hover {
	background-color: #922b21;
	border: 1px solid #922b21;
}

.burger {
	background-color: none;
	border: none;
	cursor: pointer;
	display: none;
	padding: -10px 2px;
}

.burger__btn {
	width: 30px;
	height: 3px;
	background-color: #fff;
	font-size: 0;
	color: transparent;
	position: relative;
	border: none;
}

.burger button:focus {
	border: none;
}

.burger__btn:before,
.burger__btn:after {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	z-index: 1;
	background-color: #fff;
}

.burger__btn:before {
	top: -8px;
}

.burger__btn:after {
	bottom: -8px;
}
.about {
	padding-bottom: 150px;
	padding-top: 50px;
}

.about__inner {
	color: #000;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.about__text {
	width: 50%;
	font-size: 18px;
}

.about__form-title {
	margin-bottom: 20px;
}
.about__form {
	background-color: #f5f6fa;
	box-shadow: -10px 2px 20px -6px rgba(0, 0, 0, 0.32);
	padding: 20px 20px;
	width: 350px;
	height: 400px;
}

.about__input input {
	width: 300px;
	height: 50px;
	margin-bottom: 30px;
	font-size: 16px;
	padding-left: 20px;
	transition: 0.3s;
	border: 1px solid rgba(133, 193, 233, 0.87);
	color: #fff;
	font-weight: 600;
	background: #ccd1d1;
}

.about__input input:hover {
	box-shadow: 0px 1px 14px 3px rgba(133, 193, 233, 0.87);
}

.about__input input:focus {
	outline: none;
	background-color: rgba(39, 51, 66, 0.9);
}

.about__input input[type="text"]::-webkit-input-placeholder {
	color: #000;
}

.about__input input[type="email"]::-webkit-input-placeholder {
	color: #000;
}

.about__input input[type="text"]:focus::-webkit-input-placeholder {
	color: #fff;
}

.about__input input[type="email"]:focus::-webkit-input-placeholder {
	color: #fff;
}

.about__btn {
	text-align: right;
}

.about__btn button {
	background-color: transparent;
	border: none;
	font-size: 18px;
	border: 1px solid rgba(133, 193, 233, 0.87);
	padding: 10px 25px;
	cursor: pointer;
	color: rgb(118, 118, 118);
	font-weight: 600;
	transition: 0.3s;
}

.about__btn button:hover {
	background-color: rgba(39, 51, 66, 0.9);
	color: #fff;
}

.advantages {
	color: #000;
	padding-bottom: 150px;
	padding-top: 50px;
	background-color: #ecf0f1;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	flex-direction: row;
}

.advantages__item {
	width: 25%;
	padding: 20px 20px;
	border: 1px solid #fff;
	box-shadow: 2px 4px 35px -9px rgba(0, 0, 0, 0.75);
	transition: 0.3s;
}
.advantages__item:hover {
	box-shadow: 2px 4px 35px 1px rgba(0, 0, 0, 0.75);
}
.advantages__item:hover .advantanges__icon {
	background: rgb(42, 49, 142);
	background: radial-gradient(circle, rgba(42, 49, 142, 1) 0%, rgba(148, 187, 233, 1) 100%);
	color: #fff;
}
.advantages__item h3 {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.advantages__text {
	font-size: 16px;
}

.advantanges__icon {
	color: #000;
	font-size: 50px;
	margin-bottom: 15px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 20px;
	cursor: pointer;
}
.advantanges__icon:hover {
	background: rgb(42, 49, 142);
	background: radial-gradient(circle, rgba(42, 49, 142, 1) 0%, rgba(148, 187, 233, 1) 100%);
	color: #fff;
}

.works {
	padding-bottom: 150px;
	padding-top: 50px;
}

.works__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;
}

.works__item {
	width: 30%;
	text-decoration: none;
	overflow: hidden;
	position: relative;
	display: inline-block;
	line-height: 0;
	margin-bottom: 20px;
}
.works__item:nth-last-child(1) {
	margin-right: 0;
}

/*.works__item a {
	vertical-align: middle;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}
.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}



.works__item a img + img,
.works__item a img + i {
	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-top: -32px;
  	margin-left: -32px;
  	width: 64px;
  	height: 64px;
	transition: transform 0.7s ease 0s;
	transform: scale(0);
	font-size: 64px;
	color: #fff;
	z-index: 1;
}

.works__item a :hover img + img,
.works__item a :hover img + i {
	transform: scale(1);
	opacity: 1;
}

.works__item a ::before {
	transition: all 0.5s ease;
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: #bfe2ff;
  	transform: scale(0);
}

.works__item a:hover::before {
	opacity: 0.5;
  	transform: scale(1);
}

.works__item auto::after {
	transition: all 0.6s ease 0.2s;
  	content: "";
  	position: absolute;
  	top: 8px;
  	left: 8px;
  	right: 8px;
  	bottom: 8px;
  	border: 1px solid #aaa;
  	background: #337ab7;
  	opacity: 0;
  	transform: scale(0);
}

.works__item:hover::after {
	opacity: 0.35;
  	transform: scale(1);
} */

.works__item {
	cursor: zoom-in;
}
.works__item img:hover {
	filter: opacity(75%);
}
.none {
	margin-right: 0;
}

.team {
	padding-bottom: 150px;
	padding-top: 50px;
	background-color: #ecf0f1;
}

.team__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.team__item {
	width: 25%;
	padding: 0 15px;
}
.team__item img {
	filter: sepia(50%);
	transition: 0.5s;
}
.team__item img:hover {
	filter: sepia(0%);
}

.team__name {
	font-size: 16px;
	font-weight: 700;
	color: #c0392b;
	margin-top: 10px;
	margin-bottom: 10px;
}

.team__text {
	font-size: 14px;
	color: #99a3a4;
	line-height: 20px;
	margin-bottom: 20px;
}

.team__social {
	display: flex;
}

.team__photo {
	display: block;
	max-width: 100%;
	height: auto;
}

.social__item {
	background-color: #b2bec3;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	margin-right: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #b2bec3;
	border-radius: 8px;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}

.social__item:hover {
	background-color: #fff;
	color: #b2bec3;
}
.btn-request {
	margin: 0 auto;
	margin-top: 50px;
}
.btn-request button {
	background-color: #01b1c9;
	border: 1px solid #00cec9;
	padding: 12px 34px;
	font-size: 18px;
	border-radius: 24px;
	transition: 0.3s;
	color: #fff;
	cursor: pointer;
}
.btn-request button:hover {
	border: 1px solid #11bbc9;
	background-color: #11c3c8;
}
.btn-request button:focus {
	outline: none;
}
.reviews {
	padding-bottom: 150px;
	padding-top: 50px;
}
.reviews__inner {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.reviews__item {
	width: 25%;
	border: 1px solid #a5b1c2;
	padding: 20px 30px;
	margin-right: 15px; 
	
}
.reviews__item:last-child {
	margin-right: 0;
}
.reviews__name-data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.reviews__name {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}
.reviews__name:after {
	content: "";
	display: block;
	position: absolute;
	background-color: #474787;
	width: 50%;
	height: 3px;
	margin-top: 15px;
}
.reviews__data {
	font-size: 18px;
	font-weight: 700;
	color: #84817a;
}
.reviews__text {
	color: #000;
	font-size: 16px;
	line-height: 20px;
	padding-top: 15px;
}
.reviews__btn button {
	margin-right: 20px;
	background-color: #01b1c9;
	border: 1px solid #00cec9;
	width: 220px;
	height: 50px;
	font-size: 18px;
	border-radius: 24px;
	transition: 0.3s;
	color: #fff;
	cursor: pointer;
}
.reviews__btn button:hover {
	border: 1px solid #11bbc9;
	background-color: #11c3c8;
}
.reviews__btn button:last-child {
	margin-right: 0;
}
.reviews__btn {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 50px;
}
.checkout {
	padding-bottom: 150px;
	padding-top: 50px;
	background-color: #ecf0f1;
}
.checkout__item {
	width: 75%;
}
.checkout__inner {
	display: flex;
	justify-content: center;
}
.checkout__input input,
textarea {
	padding: 30px;
	width: 100%;
	border-radius: 10px;
	border: none;
	resize: none;
	font-size: 18px;
	transition: 0.3s;
}
.checkout__input input:focus,
textarea:focus {
	outline: none;
	background-color: #dcdde1;
}
.checkout__input input {
	margin-bottom: 30px;
	margin-right: 20px;
}
.checkout__input input:last-child {
	margin-right: 0;
}
.checkout__input {
	/*width: 100%;*/
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.checkout__btn button {
	background-color: transparent;
	border: 1px solid rgba(133, 193, 233, 0.87);
	padding: 20px 40px;
	font-size: 18px;
	border-radius: 15px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 20px;
	transition: 0.3s;
}
.checkout__btn {
	text-align: right;
}
.checkout__btn button:hover {
	background-color: rgba(39, 51, 66, 0.9);
	color: #fff;
}
.footer {
	padding-bottom: 150px;
	padding-top: 50px;
	background-color: #333;
}
.footer__item {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.footer__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer__tel {
	font-size: 35px;
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	margin-bottom: 15px;
}
.footer__btn {
	background-color: #01b1c9;
	border: 1px solid #00cec9;
	padding: 10px 25px;
	font-size: 18px;
	border-radius: 25px;
	cursor: pointer;
}
.footer__btn:hover {
	border: 1px solid #11bbc9;
	background-color: #11c3c8;
}
.footer__link {
	display: flex;
	flex-direction: column;
}
.footer__link a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 10px;
}
.footer__link a:hover {
	text-decoration: underline;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}
.popup:target .popup__content {
	transform: perspective(700px) translate(0px, 0px) rotate(0deg);
	opacity: 1;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.877);
	top: 0;
	left: 0;
	z-index: 20;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.9s;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
}
.popup__content {
	color: #000;
	background-color: #fff;
	max-width: 900px;
	position: relative;
	transform: translate(-100px, -10%) rotatex(60deg);
	transition: all 0.8s;
}
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	z-index: 30;
	text-decoration: none;
}

.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popup__content img {
	max-width: 100%;
}

.slick-dotted.slick-slider {
	margin-bottom: 30px;
	max-width: 900px;
	margin: 0 auto;
}
